@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script type="module">
    import GetObjectData from "../js/ComponetsJs/GetDatosByApiUrlComponent"
    let alimentoData = await GetObjectData("../api/Categoria/GetCategorias");
    console.log(alimentoData)
</script>
